<!DOCTYPE html>
<html>
<head>
	<% include ./partials/head.ejs %>
</head>
<body>
	<% include ./partials/nav.ejs %>
	<form action = "/tasks/sort/date/filter/relatedTo" method="POST">
		Related To:
		<input type="text" name="relatedTo" list="related-list">
		<datalist id = "related-list">
			<%for(let i = 0; i < relatedTo.length; i++){%>
			<option value = "<%=relatedTo[i]%>">
			<%}%>
		</datalist>
		<input type="submit" name="" value = "Filter"> 
	</form>
	<div class = "date-column">
		<%for(let i = 0; i < tasks.length;i++){%>
		<%if(dates[i] != ""){%>
			<h2><%=dates[i]%></h2>
		<%}%>
		<div class = "task">
			<h4><a href = "/tasks/<%=tasks[i].id%>"><%=tasks[i].name%><a></h4>
			<h5 class = <%if(tasks[i].priority === "high"){%>
						"high-priority"
					<%}else if(tasks[i].priority === "medium"){%>
						"medium-priority"
					<%}else{%>
						"low-priority"
					<%}%>>Priority: <%=tasks[i].priority%></h5>
			<p><%=tasks[i].description%></p>
			<form action="/tasks/<%=tasks[i].id%>" method = "POST">
				<input type="submit" name="" value="Completed">
			</form>
			<button onclick = "window.location.href='/tasks/<%=tasks[i].id%>/edit'">Edit</button>
		</div>
		<%}%>
	</div>
</body>
</html>